* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 1em;
  background-color: cadetblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  font-size: 3em;
}

.container {
  width: 550px;
  height: 550px;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.slider-display {
  text-align: center;
}

.player-info {
  position: absolute;
  display: initial;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 2em;
  font-weight: bold;
  color: #185918;
  opacity: 0.7;
  z-index: 1000;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  width: 5.2em;
  height: 3em;
  border-radius: 1.5em;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.rainbow-running {
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 200% 200%;
  -webkit-animation: rainbow 3s ease infinite;
  -z-animation: rainbow 3s ease infinite;
  animation: rainbow 3s ease infinite;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.gray {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.gray-running {
  background: linear-gradient(124deg, #f1f0f0, #dcdbdb, #9e9d9d, #4c4c4b, #363736, #383838, #222223, #1d1d1d, #121212);
  background-size: 200% 200%;
  -webkit-animation: gray-display 2.5s ease infinite;
  -z-animation: gray-display 2.5s ease infinite;
  animation: gray-display 2.5s ease infinite;
}

@-webkit-keyframes gray-display {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes gray-display {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.black-running {
  background-color: black;
}
/*# sourceMappingURL=style.css.map */